{% extends "index.html" %}
{% load static %}
{% load material_form %}
{% load i18n %}
{% block container %}
<div class="card" id="card-radius">
    <form class="form-container" id="myForm" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="card-content">
            {% form form=form %}
                {% part form.name prefix %}<i class="material-icons prefix">person</i>{% endpart %}
                {% part form.phone prefix %}<i class="material-icons prefix">phone</i>{% endpart %}
                {% part form.email prefix %}<i class="material-icons prefix">contact_mail</i>{% endpart %}
            {% endform %}
        </div>

        <div class="card-content">

            <h5>Anexe os documentos</h5>

            <table class="striped">
                <thead class="col s12">
                    <tr>
                        <th class="left-align">Documento</th>
                        <th class="left-align">Arquivo</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                {{ file_document_formset.management_form }}

                <tbody>
                    {% for file_document_form in file_document_formset %}
                        <tr>
                            <td>{{ file_document_form.kind.errors }} {{ file_document_form.kind }}</td>
                            <td>{{ file_document_form.file_document.errors }} {{ file_document_form.file_document }}</td>
                            <td class=""></td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>

            <h5>Adicione os Tipos de contatos</h5>
            <table class="striped">
                <thead class="col s12">
                    <tr>
                        <th class="left-align">Tipo Contato</th>
                        <th class="left-align">Descrição</th>
                        <th class="left-align">Pessoa Contato</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                {{ contact_formset.management_form }}
                <tbody>
                    {% for item_form in contact_formset.forms %}
                        <tr>
                            <td>{{ item_form.kind.errors }} {{ item_form.kind }}</td>
                            <td>{{ item_form.descriprion.errors }} {{ item_form.description }}</td>
                            <td>{{ item_form.contact.errors }} {{ item_form.contact }}</td>
                            <td class=""></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>

        <div class="card-action">
            <div class="right-align">
                <button name="btn_submit" class="waves-effect waves-light btn" type="submit">Salvar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}