body {
    background: #d0cdcd;
}

#card-radius{
    border-radius: 15px;
    //margin-top:6em
}


td > .select-wrapper > input {
  display: none;
}

.img-logo {
    max-height: 64px!important;
    padding: 15px 0!important;
}


.page-footer{
	margin-top: 0 !important;
}

/*.chk_box input[type='checkbox'] {
position: static!important;
left: 0px!important;
opacity: 1!important;
visibility: visible!important;
pointer-events: all!important;
}*/
